<ion-header>
</ion-header>

<ion-content>
    <div class="banner">
        <ion-label class="lbTitulo">Centinela</ion-label>
        <br>
        <br>
        <ion-label class="lbStitulo">La seguridad de tu casa en la palma de tus manos.</ion-label>
    </div>
    <div class="contenedor">
        <ion-label>Inicia sesión para continuar</ion-label>
        <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button class="btnLogin" [routerLink]="['/inicio']" routerLinkActive="router-link-active">Iniciar sesión
            <span>
                <ion-icon name="log-in"></ion-icon>
            </span>
        </ion-button>
        <ion-button class="btnGoogle">Iniciar sesión con Google
            <span>
                <ion-icon name="logo-google"></ion-icon>
            </span>
        </ion-button>
        <ion-button class="btnFacebook">Iniciar sesión con Facebook
            <span>
                <ion-icon name="logo-facebook"></ion-icon>
            </span>
        </ion-button>
    </div>
</ion-content>