<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Centinela</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contenedor">
        <ion-card>
            <ion-item>
                <ion-icon name="warning" slot="start"></ion-icon>
                <ion-label>Registro de movimiento.</ion-label>
                <ion-button fill="outline" slot="end">Ver</ion-button>
            </ion-item>

            <ion-card-content>
                <table>
                    <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Lugar</th>
                            <th>Movimiento</th>
                            <th>Fecha y hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>HAB: 01</td>
                            <td>Si</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 02</td>
                            <td>Si</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 03</td>
                            <td>Si</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 04</td>
                            <td>Si</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 05</td>
                            <td>Si</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                    </tbody>
                </table>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon name="warning" slot="start"></ion-icon>
                <ion-label>Registro de próximidad.</ion-label>
                <ion-button fill="outline" slot="end">Ver</ion-button>
            </ion-item>

            <ion-card-content>
                <table>
                    <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Lugar</th>
                            <th>Próximidad</th>
                            <th>Fecha y hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>HAB: 02</td>
                            <td>10 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 03</td>
                            <td>34 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 04</td>
                            <td>56 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 05</td>
                            <td>25 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 06</td>
                            <td>100 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                    </tbody>
                </table>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item href="#" class="ion-activated">
                <ion-icon name="wifi" slot="start"></ion-icon>
                <ion-label>Card Link Item 1 activated</ion-label>
            </ion-item>

            <ion-item href="#">
                <ion-icon name="wine" slot="start"></ion-icon>
                <ion-label>Card Link Item 2</ion-label>
            </ion-item>

            <ion-item class="ion-activated">
                <ion-icon name="warning" slot="start"></ion-icon>
                <ion-label>Card Button Item 1 activated</ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="walk" slot="start"></ion-icon>
                <ion-label>Card Button Item 2</ion-label>
            </ion-item>
        </ion-card>
    </div>
</ion-content>